
TranslatorCorePython/\.idea/

*.pyc

Java Simple NLG Gateway/\.idea/

*.class

*.iml

*.xml

Java Simple NLG Gateway/src/META-INF/

Java Simple NLG Gateway/out/

*.pages

JavaSimpleNLG Gateway/\.idea/

*.MF
